
.nav-container {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 590px){
  .nav-container{
    flex-direction: column;
  }
}

.logo {
  display: flex;
  max-width: 100%;
  width: 3rem;
  margin: 0.5rem;
}

.nav-bar {
  display: flex;
  margin-right: 2rem;
  font-size: 1.5rem;
  gap: 1rem;
}
@media (max-width: 560px){
  .nav-bar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

a {
  color: #fff;
  font: bold 1.5rem 'Bebas Neue', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

@media (-webkit-min-device-pixel-ratio:0) {
  a {
    background-color: #fff;
    background-image: -webkit-linear-gradient(left, #FFBD00 0%, #FF1F00 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 300% 300%;
    color: transparent;
    -webkit-transition: .3s .1s;
    -webkit-background-clip: text;
  }
  a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}

/*SECTION BARBEROS*/

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: .2rem;
  padding-top: 4rem;
  margin-top: 1rem;
}
h3{
  font-size: 1.2rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

button{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .5rem;
  padding-top: 4rem;
  margin-top: 2rem;
}

#horario-data{
  text-align: center;
  font-size: 1.2rem;
}

#data{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img-text{
  max-width: 100%;
}
.title h2{
  padding-top: 3rem;
  margin-top: 0;
}

#logos{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}


