
.nav-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
}
@media (min-width: 768px){
  .nav-container{
  justify-content: space-between;
  }
}

.logo {
  display: flex;
  max-width: 100%;
  width: 3rem;
  margin: 0.5rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px){
  .nav-bar{
  flex-direction: row;
  margin-right: 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  }
}

a {
  color: #fff;
  font: bold 1.5rem 'Bebas Neue', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}



/*SECTION BARBEROS*/

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: .2rem;
  padding-top: 4rem;
  margin-top: 1rem;
}
h3{
  font-size: 1.2rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

.button{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .5rem;
  padding-top: 4rem;
  margin-top: 2rem;
}

#horario-data{
  text-align: center;
  font-size: 1.2rem;
}
.Horarios h2{
  margin-top: 0;
}

#contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  #contacto{
    align-items: unset;
  }
}
#text{
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px){
  #text{
  flex-direction: row;
  }
}
.title h2{
  padding-top: 3rem;
  margin-top: 0;
}

#footer{
  padding: 5rem;
}
@media (min-width: 768px){
  #footer{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center ;
  }
}

#redes{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  #redes{
   align-items: unset; 
  }
}
#logos {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
}
.img-text{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.img-text img{
  height: 2rem;
}

.img-text p{
  margin: 0;
}